
:root {
  background-color: #252523;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

.App {
  text-align: center;
  color: #000000;
}

.locationImage {
  zoom: 190%;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

